/************************************************************************************
FOOTER
*************************************************************************************/
footer{
	position:relative;
	overflow:hidden;
	text-align:center;
	font-size:14px;
	color:$site-color7;
	/***********Links***************/
	a:link, a:visited {
		text-decoration: none;
		color:$site-color7;
	}
	a:hover, a:focus {
		text-decoration: none;
		color:$site-color3;
	}
	.top{
		/***********Links***************/
		a:link, a:visited {
			text-decoration: none;
			color:$site-color5;
		}
		a:hover, a:focus {
			text-decoration: none;
			color:$site-color2;
		}
		background:$site-color7;
		color:$site-color1;
		padding:35px 0;
		text-align:left;
		@include respond($breakpoint3) {
			 text-align:center;
		}
		.connect{
			padding:5px 0;
			float:right;
			@include respond($breakpoint3) {
				float:none;
			}
			.social{
				padding: 15px 0;
				i{
					padding-right:15px;
					font-size:24px;
				}
			}		
		}
		.text{
			padding:5px 0;
			display:inline-block;
			padding: 5px 0;
			i{
				padding-right:15px;
				font-size:16px;
				color:$site-color2;
			}
		}
		.quick-links-box{
		  	padding:5px 0;
		  	nav.quick-menu{
		      padding-top:12px;
		      overflow:hidden;
		    	ul{
		    		li{
					    font-size: 15px;
					    display:block;
					    padding:0px;
					    padding-bottom:7px;
					    i{
					    	padding-right:5px;
					    }
						a:link, a:visited{
							color:$site-color10;
						}  
						a:hover, a:focus, a.active{
							color:$site-color2;
						}    		
		    		}
		    	}
		  }	
		}
	}
	.bottom{
		/***********Links***************/
		a:link, a:visited {
			text-decoration: none;
			color:$site-color2;
		}
		a:hover, a:focus {
			text-decoration: none;
			color:$site-color2;
		}
		background:$site-color6;
		color:$site-color1;
		padding:25px 0;
		font-weight:100;
		font-family:$font-family3;
		.copy p{
			float:left;
		}
		.created p{
			float:right;
		}
	}
}
