/************************************************************************************
HEADER
*************************************************************************************/
header{
	position: relative;
	width:100%;
	z-index:999;
	.logo {
		position:relative;
		float:left;
    display: inline-block;
    padding:5px 0;
    z-index:1;
   	a{
			display: block;
			width: 210px;
			background: url(../img/logo.png) repeat center;
			height: 72px;   	
   	}
	}
    .navigation{
    	font-family:$font-family1;
	    position: relative;
	    color:$site-color5;
	    font-size: 13px;
	    padding:30px 0;
        ul{
        	li{
				a:link, a:visited{
					color:$site-color5;
				}
				a:hover, a:focus{
					color:$site-color2;
				}
				a.active{
        			color:$site-color2;
        		}
        		padding-left:35px;
			    @include respond($breakpoint2) {
				    padding-right: 0;
				    width: 100%;
				    display: inline-block;
				    text-align: center;
				    padding: 10px 0;
				    font-size: 20px;
		  		}
        	}
        	li.last{
        		padding-right:0px;
        	}
        }
   		@include respond($breakpoint2) {
		    position: absolute;
		    right: 0;
		    margin: 0;
		    left: 0;
   			padding-top: 0;
		    padding-right: 0px;
		    padding-left: 0px;
		    width:100%;
   		}
   		.menu{
   			float:right;
   			@include respond($breakpoint2) {
			    position: relative;
			    top: 60px;
			    margin:0px;
			    width: 100%;
			    background: rgba(255, 255, 255, 0.862745);
			    display: none;
			    padding: 20px 0;
   			}
   		}
    }
    #dropdown{
    	display:none;
			cursor: pointer;
	    font-size: 28px;
	    position: absolute;
	    right: 15px;
	    top: 25px;
    	color:$site-color3;
	    @include respond($breakpoint2) {
		    display:block;
		    color:$site-color2;
  		}
			@include respond($breakpoint4) {
				right: 5px;
			}
    }
}
header.sticky{
	padding-top:0px;
	.top{
		display:none;
	}
}