/* ==========================================================================
   main styling
   ========================================================================== */
main{
  position: relative;
  clear: both;
  overflow: hidden;
  font-family:$font-family1;
  font-size:18px;
  color:$site-color4;
  .main-content{
  	text-align:center;
  	padding:20px 0;
  	p{
  		padding:5px 0;
  	}
    ul{
   	  display: inline-block; 
      padding-bottom: 10px;
      @include respond(750) {
	    text-align:center;
	    padding:0;
      }
      li{
	    display: list-item;
	    list-style-type: none;
	    color:$site-color1;
	    padding:2px 0;
	    span{
	    	color:$site-color2;
	    	position:relative;
			bottom: -3px;
			left: 5px;
	    }
	   }

		li:before {
		    content:'.';
		        top: 0;
		    font-size:40px;
		    line-height:20px;
		}
	}
	strong{
		font-weight:600;
	}
  }
}



