@CHARSET "UTF-8";
/* ==========================================================================
   Cross-browser RESET
   ========================================================================== */
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, figure, legend, fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

img {
  height: auto;
  border: none;
  /* ie8 */
  display: block;
  /* fix the img bottom margin default  */
  max-width: 100%;
  margin: 0 auto; }

a img {
  border: none; }

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

.bx-wrapper {
  margin: 0 auto; }

.bx-wrapper .bx-viewport {
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  left: 0px; }
  .bx-wrapper .bx-viewport li {
    padding: 0px; }

/* ==========================================================================
   Bootstrap reset
   ========================================================================== */
.row {
  margin: 0px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 0px;
  padding-left: 0px; }

/**
 * Responsive mixin. The media breakpoints are as defined
 * in the twitter bootstrap framework:
 *
 * - phone
 * - tablet-portrait
 * - tablet-landscape-desktop
 * - large-desktop
 *
 * Additional parameters for tagetting retina and non-retina
 * devices
 *
 * - retina
 * - non-retina
 *
 * Moreover, a specific value in px can be passed which is
 * used to generate a max-width media query.
 */
/* ==========================================================================
   General
   ========================================================================== */
/************************************************************************************
LOAD CUSTOM FONTS
*************************************************************************************/
@font-face {
  font-family: 'CaviarDreams';
  src: url("fonts/CaviarDreams-webfont.eot");
  src: url("fonts/CaviarDreams-webfont.eot?iefix") format("eot"), url("fonts/CaviarDreams-webfont.woff") format("woff"), url("fonts/CaviarDreams-webfont.ttf") format("truetype"), url("fonts/CaviarDreams-webfont.svg#webfont") format("svg"); }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  -webkit-text-size-adjust: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  overflow-x: hidden;
  position: relative;
  margin: 0 auto;
  color: #838282;
  background: #ffffff;
  overflow-x: hidden;
  position: relative; }

.content-width-outer {
  margin: 0 auto;
  max-width: 1920px;
  position: relative; }

.content-width {
  margin: 0 auto;
  max-width: 1260px;
  position: relative; }

.content-width-inner {
  margin: 0 auto;
  max-width: 992px;
  position: relative; }

.content-padding {
  padding: 0px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1260px) {
    .content-padding {
      padding: 0px 15px; } }

.top-padding {
  padding-top: 75px; }

.top-bottom-padding-large {
  padding: 30px 0;
  overflow: hidden;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1260px) {
    .top-bottom-padding-large {
      padding: 20px 0; } }

.top-bottom-padding {
  padding: 20px 0;
  overflow: hidden;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1260px) {
    .top-bottom-padding {
      padding: 10px 0; } }

.top-bottom-padding-small {
  padding: 10px 0;
  overflow: hidden; }

.side-padding {
  padding: 0 20px; }

.side-padding-large {
  padding: 0 30px; }

.left-padding {
  padding-left: 20px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .left-padding {
      padding: 0; } }

.right-padding {
  padding-right: 20px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .right-padding {
      padding: 0; } }

.right-padding-large {
  padding-right: 30px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .right-padding-large {
      padding: 0; } }

.left-padding-large {
  padding-left: 30px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .left-padding-large {
      padding: 0; } }

.no-padding {
  padding: 0px; }

.top-bottom-margin {
  margin: 20px 0; }

.side-margin {
  margin: 0 20px; }

.left-margin {
  margin-left: 20px; }

.right-margin {
  margin-right: 20px; }

.no-margin {
  margin: 0px; }

hr {
  border-color: #4cb7ef; }

h1 {
  position: relative;
  font-family: "Lora", serif;
  color: #4cb7ef;
  font-size: 44px;
  /* Landscape phones and down */
  z-index: 1;
  overflow: hidden;
  text-align: left;
  display: inline-block;
  padding: 15px 0; }
  @media only screen and (max-width: 992px) {
    h1 {
      font-size: 38px; } }
  h1 span {
    color: #787676; }

h2 {
  position: relative;
  font-family: "Lora", serif;
  color: #4cb7ef;
  font-size: 44px;
  /* Landscape phones and down */
  padding: 10px 0; }
  @media only screen and (max-width: 992px) {
    h2 {
      font-size: 38px; } }

h3 {
  color: #4cb7ef;
  font-family: "Lora", serif;
  font-size: 24px;
  padding: 8px 0;
  font-weight: 600; }
  h3 span {
    color: #4cb7ef;
    font-size: 32px;
    padding: 15px 0;
    font-weight: 500;
    display: block; }

h4 {
  color: #ffffff;
  font-size: 18px;
  padding: 5px 0; }
  h4 span {
    color: #787676; }

strong {
  font-weight: bold; }
  strong span {
    color: #4cb7ef; }

ul {
  padding: 0;
  display: inline; }

p {
  padding: 5px 0; }

/*****Element/tag selectors********/
li, ol, dl {
  padding: 5px 0;
  list-style-type: none;
  display: inline; }

li.last, ol.last, dl.last {
  padding: 0px; }

/***********Links***************/
a:link, a:visited {
  text-decoration: none;
  color: #4cb7ef; }

a:hover, a:focus {
  text-decoration: none;
  color: #5d5d5d; }

/************************************************************************************
HELPER CLASSES
*************************************************************************************/
.clear {
  clear: both; }

.hidden {
  display: none !important;
  visibility: hidden; }

.img-responsive {
  width: 100%; }

.center-align {
  text-align: center; }

.right-align {
  text-align: right;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .right-align {
      text-align: center; } }

.left-align {
  text-align: left;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 992px) {
    .left-align {
      text-align: center; } }

.right {
  float: right; }

.left {
  float: right; }

.clear {
  clear: both; }

.sticky, .fixed {
  position: fixed !important;
  top: 0px !important;
  z-index: 999999 !important;
  background: #ffffff; }

.stretched {
  letter-spacing: 2px; }

.border-bottom {
  border-bottom: solid 1px #5d5d5d; }

.highlight {
  color: #4cb7ef; }

.background-color1 {
  background: #838282; }

.background-color2 {
  background: #4cb7ef; }

.background-color3 {
  background: #787676; }

.background-color4 {
  background: #5d5d5d; }

.background-color5 {
  background: #3c4c58; }

.background-color6 {
  background: #dee1e7; }

.background-color7 {
  background: #ffffff; }

.background-color8 {
  background: #000000; }

.background-color9 {
  background: #626d76; }

.background-color10 {
  background: #626d76; }

.scrollToTop {
  width: 60px;
  height: 60px;
  display: none;
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 18px;
  padding: 20px;
  background: #838282;
  color: #4cb7ef;
  z-index: 999; }

a.scrollToTop:link, a.scrollToTop:visited {
  color: #4cb7ef; }

/************************************************************************************
BUTTONS
*************************************************************************************/
.button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding: 12px 35px;
  font-weight: 100;
  display: inline-block;
  background: #4cb7ef; }
  .button a:link, .button a:visited {
    color: #ffffff; }
  .button a:hover {
    color: #ffffff; }
  .button span {
    color: #787676;
    padding-left: 5px;
    font-size: 18px; }

.button:hover {
  background: #5d5d5d;
  color: #ffffff; }

.button:hover a {
  color: #ffffff; }

/************************************************************************************
HICHLIGHTS
*************************************************************************************/
.highlights-icons {
  padding: 15px 0;
  overflow: hidden; }

.highlight-icon {
  text-align: center;
  font-size: 23px;
  font-family: "Lora", serif;
  font-style: italic;
  color: #838282;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 762px) {
    .highlight-icon {
      width: 50%; } }

/************************************************************************************
BOXES
*************************************************************************************/
.location-box {
  position: absolute;
  bottom: 100px;
  width: 430px;
  left: 35px;
  color: #838282;
  background: #ffffff; }
  .location-box .contents {
    margin: 15px;
    padding: 15px;
    border: solid 2px #838282;
    height: 270px;
    text-align: center; }
  .location-box p {
    color: #3c4c58;
    font-size: 16px;
    padding: 20px 0; }
  .location-box span {
    font-size: 16px;
    display: inline-block;
    padding: 15px 0; }

/************************************************************************************
HEADER
*************************************************************************************/
header {
  position: relative;
  width: 100%;
  z-index: 999; }
  header .logo {
    position: relative;
    float: left;
    display: inline-block;
    padding: 5px 0;
    z-index: 1; }
    header .logo a {
      display: block;
      width: 210px;
      background: url(../img/logo.png) repeat center;
      height: 72px; }
  header .navigation {
    font-family: "Open Sans", sans-serif;
    position: relative;
    color: #3c4c58;
    font-size: 13px;
    padding: 30px 0;
    /* Landscape phones and down */ }
    header .navigation ul li {
      padding-left: 35px;
      /* Landscape phones and down */ }
      header .navigation ul li a:link, header .navigation ul li a:visited {
        color: #3c4c58; }
      header .navigation ul li a:hover, header .navigation ul li a:focus {
        color: #4cb7ef; }
      header .navigation ul li a.active {
        color: #4cb7ef; }
      @media only screen and (max-width: 992px) {
        header .navigation ul li {
          padding-right: 0;
          width: 100%;
          display: inline-block;
          text-align: center;
          padding: 10px 0;
          font-size: 20px; } }
    header .navigation ul li.last {
      padding-right: 0px; }
    @media only screen and (max-width: 992px) {
      header .navigation {
        position: absolute;
        right: 0;
        margin: 0;
        left: 0;
        padding-top: 0;
        padding-right: 0px;
        padding-left: 0px;
        width: 100%; } }
    header .navigation .menu {
      float: right;
      /* Landscape phones and down */ }
      @media only screen and (max-width: 992px) {
        header .navigation .menu {
          position: relative;
          top: 60px;
          margin: 0px;
          width: 100%;
          background: rgba(255, 255, 255, 0.862745);
          display: none;
          padding: 20px 0; } }
  header #dropdown {
    display: none;
    cursor: pointer;
    font-size: 28px;
    position: absolute;
    right: 15px;
    top: 25px;
    color: #787676;
    /* Landscape phones and down */
    /* Landscape phones and down */ }
    @media only screen and (max-width: 992px) {
      header #dropdown {
        display: block;
        color: #4cb7ef; } }
    @media only screen and (max-width: 550px) {
      header #dropdown {
        right: 5px; } }

header.sticky {
  padding-top: 0px; }
  header.sticky .top {
    display: none; }

/* ==========================================================================
   main styling
   ========================================================================== */
main {
  position: relative;
  clear: both;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #5d5d5d; }
  main .main-content {
    text-align: center;
    padding: 20px 0; }
    main .main-content p {
      padding: 5px 0; }
    main .main-content ul {
      display: inline-block;
      padding-bottom: 10px;
      /* Landscape phones and down */ }
      @media only screen and (max-width: 750px) {
        main .main-content ul {
          text-align: center;
          padding: 0; } }
      main .main-content ul li {
        display: list-item;
        list-style-type: none;
        color: #838282;
        padding: 2px 0; }
        main .main-content ul li span {
          color: #4cb7ef;
          position: relative;
          bottom: -3px;
          left: 5px; }
      main .main-content ul li:before {
        content: '.';
        top: 0;
        font-size: 40px;
        line-height: 20px; }
    main .main-content strong {
      font-weight: 600; }

/************************************************************************************
FOOTER
*************************************************************************************/
footer {
  position: relative;
  overflow: hidden;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  /***********Links***************/ }
  footer a:link, footer a:visited {
    text-decoration: none;
    color: #ffffff; }
  footer a:hover, footer a:focus {
    text-decoration: none;
    color: #787676; }
  footer .top {
    /***********Links***************/
    background: #ffffff;
    color: #838282;
    padding: 35px 0;
    text-align: left;
    /* Landscape phones and down */ }
    footer .top a:link, footer .top a:visited {
      text-decoration: none;
      color: #3c4c58; }
    footer .top a:hover, footer .top a:focus {
      text-decoration: none;
      color: #4cb7ef; }
    @media only screen and (max-width: 762px) {
      footer .top {
        text-align: center; } }
    footer .top .connect {
      padding: 5px 0;
      float: right;
      /* Landscape phones and down */ }
      @media only screen and (max-width: 762px) {
        footer .top .connect {
          float: none; } }
      footer .top .connect .social {
        padding: 15px 0; }
        footer .top .connect .social i {
          padding-right: 15px;
          font-size: 24px; }
    footer .top .text {
      padding: 5px 0;
      display: inline-block;
      padding: 5px 0; }
      footer .top .text i {
        padding-right: 15px;
        font-size: 16px;
        color: #4cb7ef; }
    footer .top .quick-links-box {
      padding: 5px 0; }
      footer .top .quick-links-box nav.quick-menu {
        padding-top: 12px;
        overflow: hidden; }
        footer .top .quick-links-box nav.quick-menu ul li {
          font-size: 15px;
          display: block;
          padding: 0px;
          padding-bottom: 7px; }
          footer .top .quick-links-box nav.quick-menu ul li i {
            padding-right: 5px; }
          footer .top .quick-links-box nav.quick-menu ul li a:link, footer .top .quick-links-box nav.quick-menu ul li a:visited {
            color: #626d76; }
          footer .top .quick-links-box nav.quick-menu ul li a:hover, footer .top .quick-links-box nav.quick-menu ul li a:focus, footer .top .quick-links-box nav.quick-menu ul li a.active {
            color: #4cb7ef; }
  footer .bottom {
    /***********Links***************/
    background: #dee1e7;
    color: #838282;
    padding: 25px 0;
    font-weight: 100;
    font-family: "Playfair Display", serif; }
    footer .bottom a:link, footer .bottom a:visited {
      text-decoration: none;
      color: #4cb7ef; }
    footer .bottom a:hover, footer .bottom a:focus {
      text-decoration: none;
      color: #4cb7ef; }
    footer .bottom .copy p {
      float: left; }
    footer .bottom .created p {
      float: right; }

/* ==========================================================================
  forms
   ========================================================================== */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #4cb7ef;
  font-size: 14px; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #4cb7ef;
  font-size: 14px; }

:-ms-input-placeholder {
  /* IE 10+ */
  color: #4cb7ef;
  font-size: 14px; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #4cb7ef;
  font-size: 14px; }

.ui-datepicker .ui-datepicker-header {
  background: #4cb7ef;
  color: #ffffff; }

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  border-color: #4cb7ef;
  background: #4cb7ef;
  color: #ffffff; }

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  background: #4cb7ef;
  color: #ffffff; }

input, select {
  border: none; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: ''; }

.book-online {
  background: #787676;
  padding: 30px 0;
  /* Landscape phones and down */
  margin: 15px 0;
  /* Landscape phones and down */
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1000px) {
    .book-online {
      padding: 20px 0; } }
  .book-online .book-mobile {
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 24px;
    padding: 10px;
    display: none; }
  .book-online a.book-mobile:link, .book-online a.book-mobile:visited {
    text-decoration: none;
    color: #ffffff; }
  .book-online a.book-mobile:hover, .book-online a.book-mobile:focus {
    text-decoration: none;
    color: #ffffff; }
  @media only screen and (max-width: 1000px) {
    .book-online .book-mobile {
      display: inline-block; } }
  @media only screen and (max-width: 1000px) {
    .book-online .book-online-form {
      display: none; } }
  .book-online .form-group {
    padding-right: 35px;
    position: relative;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 1140px) {
      .book-online .form-group {
        width: 100%;
        text-align: center; } }
    .book-online .form-group i {
      position: absolute;
      left: 115px;
      top: 8px;
      font-size: 22px;
      color: #ffffff;
      /* Landscape phones and down */
      /* Landscape phones and down */ }
      @media only screen and (max-width: 1140px) {
        .book-online .form-group i {
          left: 68%; } }
      @media only screen and (max-width: 450px) {
        .book-online .form-group i {
          left: 60%; } }
    .book-online .form-group select {
      /* Landscape phones and down */
      width: 135px;
      height: 40px;
      background: none;
      color: #ffffff;
      font-size: 20px;
      border-bottom: solid 1px #ffffff;
      outline: none;
      background-color: none; }
      @media only screen and (max-width: 1140px) {
        .book-online .form-group select {
          width: 50%; } }
    .book-online .form-group select option {
      background: #787676;
      color: #ffffff;
      box-shadow: inset 20px 20px #f00; }
    .book-online .form-group select option:disabled {
      color: #ffffff; }
    .book-online .form-group input {
      width: 135px;
      /* Landscape phones and down */
      height: 40px;
      background: none;
      border-bottom: solid 1px #ffffff;
      outline: none;
      color: #ffffff;
      font-size: 20px; }
      @media only screen and (max-width: 1140px) {
        .book-online .form-group input {
          width: 50%; } }
  .book-online input[type="submit"] {
    position: relative;
    width: 250px;
    padding: 10px;
    margin-left: 24px;
    height: 45px;
    font-size: 20px;
    background: none;
    color: #ffffff;
    border: solid 1px #ffffff;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 1140px) {
      .book-online input[type="submit"] {
        margin: 0 24%;
        left: 0;
        right: 0;
        top: 10px;
        width: 48%; } }
  .book-online input[type="submit"]:hover {
    background: #ffffff;
    color: #787676; }
  .book-online ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ffffff;
    font-size: 20px; }
  .book-online ::-moz-placeholder {
    /* Firefox 19+ */
    color: #ffffff;
    font-size: 20px; }
  .book-online :-ms-input-placeholder {
    /* IE 10+ */
    color: #ffffff;
    font-size: 20px; }
  .book-online :-moz-placeholder {
    /* Firefox 18- */
    color: #ffffff;
    font-size: 20px; }
  .book-online .form-group.select {
    width: 120px;
    position: relative; }
  .book-online .form-group.select i {
    position: absolute;
    right: 20px;
    top: 35px;
    color: #4cb7ef;
    z-index: 1; }
  .book-online .form-group.date {
    width: 195px; }

.contact-form {
  position: relative; }
  .contact-form .form-group {
    padding: 5px 0; }
  .contact-form ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #838282; }
  .contact-form ::-moz-placeholder {
    /* Firefox 19+ */
    color: #838282; }
  .contact-form :-ms-input-placeholder {
    /* IE 10+ */
    color: #838282; }
  .contact-form :-moz-placeholder {
    /* Firefox 18- */
    color: #838282; }
  .contact-form label {
    font-weight: 100;
    font-size: 23px;
    text-align: left;
    width: 100%;
    /* Landscape phones and down */ }
    @media only screen and (max-width: 1000px) {
      .contact-form label {
        font-size: 18px; } }
  .contact-form input {
    width: 96%;
    /* Landscape phones and down */
    float: left;
    height: 50px;
    margin: 5px 0;
    padding-left: 16px;
    color: #838282;
    border: #000000 solid 1px;
    border-radius: 5px; }
    @media only screen and (max-width: 1000px) {
      .contact-form input {
        width: 100%; } }
  .contact-form input[type="submit"] {
    float: right;
    background: #4cb7ef;
    color: #ffffff;
    border-radius: 0px;
    font-weight: 600;
    width: 160px;
    /* Landscape phones and down */
    position: relative;
    right: 15px;
    border: none; }
    @media only screen and (max-width: 1000px) {
      .contact-form input[type="submit"] {
        width: 100%;
        right: 0px; } }
  .contact-form input[type="submit"]:hover {
    background: #787676; }
  .contact-form textarea {
    width: 98%;
    /* Landscape phones and down */
    height: 150px;
    display: inline-block;
    padding: 20px;
    float: left;
    color: #838282;
    border: #000000 solid 1px;
    border-radius: 5px; }
    @media only screen and (max-width: 1000px) {
      .contact-form textarea {
        width: 100%; } }
  .contact-form span {
    font-style: italic;
    font-size: 13px;
    padding: 15px 0;
    display: block; }
  .contact-form .sec_code {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 50px; }

/************************************************************************************
SOCIAL MENU
*************************************************************************************/
.social-menu i {
  font-size: 20px; }

.social-menu a.cyrcle {
  border-radius: 20px;
  width: 36px;
  height: 36px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  border: solid 2px;
  margin-right: 5px; }

.social-menu a.square {
  width: 36px;
  height: 36px;
  border-radius: 4px;
  margin-right: 5px;
  padding-top: 5px;
  font-size: 20px;
  text-align: center;
  background: #3c4c58;
  display: inline-block; }

.social-menu a.last {
  margin-right: 0px; }

.social-menu a:link, .social-menu a:visited {
  color: #5d5d5d; }

.social-menu a:hover, .social-menu a:focus {
  color: #4cb7ef; }

.social-menu.block {
  width: 250px;
  display: inline-block;
  text-align: center; }
  .social-menu.block li {
    width: 80px;
    padding: 5px;
    display: inline-block;
    color: #343333; }

/************************************************************************************
SLIDER
*************************************************************************************/
.slider-wrapper {
  position: relative; }
  .slider-wrapper .caption {
    position: absolute;
    width: 1000px;
    margin: 0 auto;
    left: 50px;
    right: 0px;
    top: 260px;
    z-index: 1;
    text-align: left;
    font-family: "Lora", serif;
    font-style: italic;
    font-weight: normal;
    color: #ffffff;
    font-size: 28px;
    line-height: 42px;
    display: none;
    /* Landscape phones and down */ }
    .slider-wrapper .caption span {
      display: block;
      font-weight: normal;
      font-size: 45px;
      line-height: 56px;
      text-align: center; }
    @media only screen and (max-width: 992px) {
      .slider-wrapper .caption {
        display: none; } }
  .slider-wrapper .scroll-down {
    position: absolute;
    bottom: -45px;
    width: 70px;
    height: 70px;
    padding: 5px;
    text-align: center;
    margin: 0 auto;
    right: 0px;
    left: 0px;
    color: #ffffff;
    display: inline-block;
    z-index: 99; }

/************************************************************************************
PHOTOS GALLERY
*************************************************************************************/
#gallery {
  display: block;
  width: 100%;
  overflow: hidden;
  margin: 0 auto; }

.photo-item.style1 {
  width: 285px;
  height: 415px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1260px) {
    .photo-item.style1 {
      width: 230px;
      height: 380px; } }

.photo-item.style2 {
  width: 235px;
  height: 250px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1260px) {
    .photo-item.style2 {
      width: 230px; } }

.photo-item.style3 {
  width: 480px;
  height: 345px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1260px) {
    .photo-item.style3 {
      width: 230px;
      height: 345px; } }

.photo-item.style4 {
  width: 285px;
  height: 180px;
  /* Landscape phones and down */ }
  @media only screen and (max-width: 1260px) {
    .photo-item.style4 {
      width: 230px;
      height: 160px; } }

.photo-item {
  /* Landscape phones and down */
  float: left;
  position: relative;
  display: inline-block;
  margin: 5px;
  background: trasparent;
  clear: both;
  overflow: hidden;
  z-index: 1; }
  @media only screen and (max-width: 1260px) {
    .photo-item {
      margin-bottom: 10px; } }
  .photo-item span {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    background: url(../img/icons/hover.png) no-repeat center rgba(37, 150, 201, 0.5);
    cursor: pointer;
    color: #ffffff;
    display: none; }

.photo-item:hover span {
  display: block;
  transform: scale(1.02); }

/************************************************************************************
GALLERIES owl
*************************************************************************************/
.page-gallery {
  position: relative;
  padding: 25px 0; }
  .page-gallery .gallery-item {
    position: relative; }
    .page-gallery .gallery-item span {
      position: absolute;
      top: 0;
      text-align: center;
      width: 100%;
      height: 100%;
      opacity: 0.0;
      -webkit-transition: all 500ms ease-in-out;
      -moz-transition: all 500ms ease-in-out;
      -ms-transition: all 500ms ease-in-out;
      -o-transition: all 500ms ease-in-out;
      transition: all 500ms ease-in-out;
      background: url(../img/icons/hover.png) no-repeat center rgba(37, 150, 201, 0.5);
      cursor: pointer;
      display: none; }
  .page-gallery .gallery-item:hover span {
    display: block;
    opacity: 0.8; }

.teaser-gallery {
  position: relative;
  padding: 25px 0; }
  .teaser-gallery .teaser-hover {
    position: absolute;
    top: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
    padding: 25%;
    text-align: center;
    width: 100%;
    height: 100%;
    opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    background: #787676;
    color: #000000;
    cursor: pointer;
    display: none; }
    .teaser-gallery .teaser-hover p {
      line-height: 20px;
      font-size: 21px; }
    .teaser-gallery .teaser-hover span {
      display: inline-block;
      font-family: "Lora", serif;
      border-top: solid 2px #838282;
      padding-top: 10px;
      margin-top: 15px; }
  .teaser-gallery .teaser-item:hover > .teaser-hover {
    display: block;
    opacity: 0.8; }

/************************************************************************************
MAP
*************************************************************************************/
.map {
  overflow: hidden;
  width: 100%;
  clear: both;
  position: relative; }

.map #map-canvas, .map #map-canvas-homepage {
  width: 100%;
  height: 500px; }

.map-wrapper {
  padding-top: 30px; }

.map-top-shadow {
  position: absolute;
  height: 20px;
  top: 30px;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.3); }

.map-bottom-shadow {
  position: absolute;
  height: 20px;
  bottom: -20px;
  left: 0;
  right: 0;
  z-index: 999;
  box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.3); }

#map-popup-box {
  display: none; }
  #map-popup-box .map #map-canvas {
    width: 1000px;
    height: 600px; }

/************************************************************************************
OFFER MODAL
*************************************************************************************/
.modal {
  top: 25% !important; }

.modal-body {
  position: relative;
  padding: 20px 60px; }

.modal-body ul li {
  display: list-item;
  list-style-type: disc; }

.modal-header {
  text-align: center; }

.modal-footer {
  padding: 15px;
  text-align: center;
  border: none; }

.modal-footer .btn-default {
  width: 25%;
  background: #787676;
  color: #ffffff; }
