/************************************************************************************
BUTTONS
*************************************************************************************/
.button{
	font-family:$font-family1;
	font-size:16px;
    padding: 12px 35px;
    font-weight: 100;
    display: inline-block;
    background:$site-color2;
    a:link, a:visited{
      	color:$site-color7;
    }
    a:hover{
      	color:$site-color7;
    }
    span{
    	color:$site-color3;
    	padding-left:5px;
    	font-size: 18px;
    }
}
.button:hover{
		background:$site-color4;
		color:$site-color7;
}
.button:hover a{
		color:$site-color7;	
}
/************************************************************************************
HICHLIGHTS
*************************************************************************************/
.highlights-icons{
	padding:15px 0;
	overflow:hidden;
}
.highlight-icon{
	text-align:center;
	font-size:23px;
	font-family:$font-family2;
	font-style:italic;
	color:$site-color1;
	@include respond($breakpoint3) {
	 width: 50%;
	}
}
/************************************************************************************
BOXES
*************************************************************************************/
.location-box{
	position: absolute;
    bottom: 100px;
    width: 430px;
    left: 35px;
    color:$site-color1;
    background: $site-color7;
    .contents{
   	    margin: 15px;
	    padding: 15px;
	    border: solid 2px $site-color1;
	    height: 270px;
	    text-align: center;
    }
    p{
    	color:$site-color5;
    	font-size:16px;
    	padding:20px 0;
    }
    span{
        font-size:16px;
        display:inline-block;
        padding:15px 0;
    }
}