/* ==========================================================================
   General
   ========================================================================== */
/************************************************************************************
LOAD CUSTOM FONTS
*************************************************************************************/
@font-face{ 
	font-family: 'CaviarDreams';
	src: url('fonts/CaviarDreams-webfont.eot');
	src: url('fonts/CaviarDreams-webfont.eot?iefix') format('eot'),
	     url('fonts/CaviarDreams-webfont.woff') format('woff'),
	     url('fonts/CaviarDreams-webfont.ttf') format('truetype'),
	     url('fonts/CaviarDreams-webfont.svg#webfont') format('svg');
}
body {
	font-family: $font-family1;
	font-size: 16px;
	font-weight:500;
	line-height: 22px;
	-webkit-text-size-adjust: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	overflow-x: hidden;
	position: relative;
	margin: 0 auto;
	color: $site-color1;
	background: $site-color7;
	overflow-x: hidden;
 	position: relative;
}
.content-width-outer{
	margin: 0 auto;
	max-width: $content-width-outer;
	position: relative;
}
.content-width {
	margin: 0 auto;
	max-width: $content-width;
	position: relative;
}
.content-width-inner{
	margin: 0 auto;
	max-width: $content-width-inner;
	position: relative;
}
.content-padding{
	padding:0px;
	@include respond($breakpoint1) {
	    padding:0px 15px;
   }
}
.top-padding{
	padding-top:75px;
}
.top-bottom-padding-large{
	padding:$site-padding-large 0;
	overflow:hidden;
	@include respond($breakpoint1) {
	   padding:$site-padding 0;
    }	
}
.top-bottom-padding{
	padding:$site-padding 0;
	overflow:hidden;
	@include respond($breakpoint1) {
	   padding:$site-padding-mobile 0;
    }
}
.top-bottom-padding-small{
	padding:$site-padding-mobile 0;
	overflow:hidden;
}
.side-padding{
	padding:0 $site-padding;
}
.side-padding-large{
	padding:0 $site-padding-large;
}
.left-padding{
	padding-left:$site-padding;
	@include respond($breakpoint2) {
	   padding:0;
    }
}
.right-padding{
	padding-right:$site-padding;
	@include respond($breakpoint2) {
	   padding:0;
    }
}
.right-padding-large{
	padding-right:$site-padding-large;
	@include respond($breakpoint2) {
	   padding:0;
    }
}
.left-padding-large{
	padding-left:$site-padding-large;
	@include respond($breakpoint2) {
	   padding:0;
    }
}
.no-padding{
	padding:0px;
}
.top-bottom-margin{
	margin:$site-margin 0;
}
.side-margin{
	margin:0 $site-margin;
}
.left-margin{
	margin-left:$site-margin;
}
.right-margin{
	margin-right:$site-margin;
}
.no-margin{
	margin:0px;
}
hr{
	border-color:$site-color2;
}
h1{
  position: relative;
  font-family:$font-family2;
  color: $site-color2;
  font-size:44px;
  @include respond($breakpoint2) {
    font-size:38px;
  }
  z-index: 1;
  overflow: hidden;
  text-align:left;
  display:inline-block;
  padding:15px 0;
  span{
   	color: $site-color3;
  }
}
h2{
  position: relative;
  font-family:$font-family2;
  color: $site-color2;
  font-size:44px;
  @include respond($breakpoint2) {
    font-size:38px;
  }
  padding:10px 0;  
}
h3{
  color: $site-color2;
  font-family:$font-family2;
  font-size:24px;
  padding:8px 0;
  font-weight:600;
  span{
    color: $site-color2;
    font-size:32px;
    padding: 15px 0;
    font-weight: 500;
    display: block;
  }
}
h4{
  color: $site-color7;
  font-size:18px;
  padding:5px 0;
  span{
      color: $site-color3;
  }
}
strong{
	font-weight: bold;
 	span{
     color: $site-color2;
   }
}
ul{
	padding: 0;
	display:inline;
}
p{
	padding:5px 0;
}
/*****Element/tag selectors********/
li, ol, dl {
    padding:5px 0;
    list-style-type: none;
    display:inline;
}
li.last ,ol.last, dl.last {
    padding:0px;
}
/***********Links***************/
a:link, a:visited {
	text-decoration: none;
	color:$links-color;
}
a:hover, a:focus {
	text-decoration: none;
	color:$hover-color;
}