/************************************************************************************
HELPER CLASSES
*************************************************************************************/
.clear {
	clear: both;
}
.hidden {
    display: none !important;
    visibility: hidden;
}
.img-responsive{
	width:100%;
}
.center-align{
	text-align:center;
}
.right-align{
	text-align:right;
	@include respond($breakpoint2) {
		text-align:center;
	}
}
.left-align{
	text-align:left;
	@include respond($breakpoint2) {
		text-align:center;
	}
}
.right{
	float:right;
}
.left{
	float:right;
}
.clear{
	clear:both;
}
.sticky, .fixed{
	position:fixed!important;
	top:0px!important;
	z-index:999999!important;
	background:$site-color7;
}
.stretched{
	letter-spacing:2px;
}
.border-bottom{
	border-bottom:solid 1px $site-color4;
}
.highlight{
	color:$site-color2;
}
.background-color1{
	background:$site-color1;
}
.background-color2{
	background:$site-color2;
}
.background-color3{
	background:$site-color3;
}
.background-color4{
	background:$site-color4;
}
.background-color5{
	background:$site-color5;
}
.background-color6{
	background:$site-color6;
}
.background-color7{
	background:$site-color7;
}
.background-color8{
	background:$site-color8;
}
.background-color9{
	background:$site-color9;
}
.background-color10{
	background:$site-color10;
}
.scrollToTop{
		width: 60px;
    height: 60px;
    display: none;
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 18px;
    padding: 20px;
    background:$site-color1;
    color:$site-color2;
    z-index:999;
}
a.scrollToTop:link, a.scrollToTop:visited{
	color:$site-color2;
}