@CHARSET "UTF-8";
$font-family1 : 'Open Sans', sans-serif;
$font-family2 : 'Lora', serif;
$font-family3 : 'Playfair Display', serif;
$font-family4 : 'Roboto', sans-serif;
$site-color1: #838282;
$site-color2: #4cb7ef;
$site-color3: #787676;
$site-color4: #5d5d5d;
$site-color5: #3c4c58;
$site-color6: #dee1e7;
$site-color7: #ffffff;
$site-color8: #000000;
$site-color9: #626d76;
$site-color10:#626d76;
$links-color: #4cb7ef; 
$hover-color: #5d5d5d; 
$content-width-outer:1920px;
$content-width:1260px;
$content-width-inner:992px;
$breakpoint1:1260;
$breakpoint2:992;
$breakpoint3:762;
$breakpoint4:550;
$breakpoint5:399;
$site-padding-large:30px;
$site-padding:20px;
$site-padding-mobile:10px;
$site-margin-large:30px;
$site-margin:20px;
$site-margin-mobile:10px;
@import 'reset';
@import 'bootstrap-reset';
@import 'responsive';
@import 'general';
@import 'helper-classes';
@import 'elements';
@import 'regions/header';
@import 'regions/main';
@import 'regions/footer';
@import 'components/forms';
@import 'components/menus';
@import 'components/sliders';
@import 'components/galleries';
@import 'components/maps';
@import 'components/modals';