@charset "utf-8";
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #f1f1f1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;		position: relative;
	  background: #eee !important;

}.wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
}
.form-main {
  max-width: 450px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius:15px;
}
.form-main .form-main-heading{
	text-align:center;
}
.form-main .form-main-heading,
.form-main .checkbox {
  margin-bottom: 30px;
}
.form-main .checkbox {
  font-weight: normal;
  margin-left: 30px;

}
.form-main .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-main .form-control:focus {
  z-index: 2;
}
.form-main input[type="text"] {
  margin-bottom: 15px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-main input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

header table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 26px;
	color: #fff;
	font-weight: bold;
	position: absolute;
	top: 47px;
	left: 0px;
	width: 100%;		text-align:center;
}
header {
	padding: 100px;
}

#menu_login {
	background-color: #fff;
	color:#000;
	height: 30px;
	padding-top: 15px;
	margin: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
	font-size: 14px;
}

#menu {
	background-color: #FFFFFF;
	padding: 20px 0;
	margin: 0px;
}

#menu #form1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding: 0px;
	margin: 0px;
}
#menu #form1 a:hover {
	text-decoration: underline;
}
#menu #form1 #album a:link, #menu #form1 #album a:visited,#menu #form1 #album a:active {
	color: #787878;
	text-decoration: none;
	font-size: 13px;
}
#menu #form1 #album {
	margin: 0px;
	padding: 2px 0;
}


#menu #form1 #album a:hover {
	text-decoration: underline;
}

.left_border {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
}
#submit-button{  position: relative;  }

table input[type=text], table input[type=password] {
  background:none!important;
  border:1px solid #676767;
}
table textarea{
	font-family:sans-serif!important;
	background:none!important;
	padding:15px;
}
  table input[type=submit]{
  color:#fff;
  cursor:pointer;
  }
select{
  width: 200px;
  height: 40px;
  cursor: pointer;
  margin-right:10px;
}
#tab-container{
  width: 950px;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 16px;
}
.etabs { margin: 0; padding: 0; }
.tab { display: inline-block; zoom:1; *display:inline; background: #eee; border: solid 1px #999; border-bottom: none; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; }
.tab a { font-size: 14px; line-height: 2em; display: block; padding: 0 10px; outline: none;text-decoration:none;color:#000; }
.tab.active { background: #fff; position: relative; top: 1px; border-color: #666;text-decoration:none; }
.tab a.active { font-weight: bold; }
.tab-container .panel-container { background: #fff; border: solid #666 1px; padding: 10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }
.panel-container { margin-bottom: 10px; }
footer{
	text-align: center;
    background: #fff;
    padding: 50px;
    color: #7a7a7a;
    font-size: 18px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-justified > li{
	width:auto!important;
}
