/* ==========================================================================
  forms
   ========================================================================== */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $site-color2;
  font-size:14px;
}
::-moz-placeholder { /* Firefox 19+ */
  color:$site-color2;
    font-size:14px;
}
:-ms-input-placeholder { /* IE 10+ */
  color:$site-color2;
    font-size:14px;
}
:-moz-placeholder { /* Firefox 18- */
  color: $site-color2;
  font-size:14px;
}
.ui-datepicker .ui-datepicker-header{
	background: $site-color2;
    color: $site-color7;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
	border-color:$site-color2;
	background: $site-color2;	
    color: $site-color7;	
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
	background: $site-color2;	
    color: $site-color7;	
}
input, select {
    border:none;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.book-online{
	background:$site-color3;
	padding:30px 0;
	@include respond(1000) {
		padding:20px 0;	
	}
	margin:15px 0;
	.book-mobile{
		width: 100%;
	    height: 40px;
	    text-align: center;
	    font-size: 24px;
	    padding: 10px;
		display:none;
	}
		a.book-mobile:link, a.book-mobile:visited {
			text-decoration: none;
			color:$site-color7;
		}
		a.book-mobile:hover, a.book-mobile:focus {
			text-decoration: none;
			color:$site-color7;
		}
	@include respond(1000) {
		.book-mobile{
			display:inline-block;
		}	
	}
	@include respond(1000) {
		.book-online-form{
			display:none;
		}	
	}
	.form-group{
	    padding-right: 35px;
	    position:relative;
		@include respond(1140) {
			width:100%;
			text-align:center
		}
	    i{
	    	position: absolute;
		    left: 115px;
		    top: 8px;
		    font-size: 22px;
		    color: $site-color7;
			@include respond(1140) {
				left:68%;
			}
			@include respond(450) {
				left:60%;
			}
	    }
		select{
			@include respond(1140) {
				width:50%;
			}
			width:135px;
			height:40px;
			background: none;
			color:$site-color7;
			font-size:20px;
			border-bottom:solid 1px $site-color7;
			outline: none;
			background-color:none;
		}
		select option {
		  background: $site-color3; 
		  color: $site-color7; 
		  box-shadow: inset 20px 20px #f00
		} 
		select option:disabled {
		    color: $site-color7; 
		}
		input{
			width:135px;
			@include respond(1140) {
				width:50%;
			}
			height:40px;
			background: none;
			border-bottom:solid 1px $site-color7;
		    outline: none;
		    color: $site-color7;
		    font-size:20px;
		}
	}
	input[type="submit"]{
	    position: relative;
	    width: 250px;
	    padding: 10px;
	    margin-left: 24px;
	    height: 45px;
	    font-size: 20px;
	    background: none;
	    color: $site-color7;
	    border: solid 1px $site-color7;
			@include respond(1140) {
			    margin: 0 24%;
			    left: 0;
			    right: 0;
			    top: 10px;
			    width: 48%;
			}	    
	}
	input[type="submit"]:hover{
		background:$site-color7;
		color:$site-color3;
	}
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    	color: $site-color7;
    	font-size:20px;
	}
	::-moz-placeholder { /* Firefox 19+ */
	  color: $site-color7;
      font-size:20px;
	}
	:-ms-input-placeholder { /* IE 10+ */
	  color: $site-color7;
	  font-size:20px;
	}
	:-moz-placeholder { /* Firefox 18- */
	  color: $site-color7;
      font-size:20px;
	}
	.form-group.select{
		width:120px;
		position:relative;
	}
	.form-group.select i{
	    position: absolute;
	    right: 20px;
	    top: 35px;
	    color:$site-color2;
	    z-index: 1;
	}
	.form-group.date{
		width:195px;
	}	
}
.contact-form{
	.form-group{
	    padding: 5px 0;
	}
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $site-color1;
	}
	::-moz-placeholder { /* Firefox 19+ */
	  color: $site-color1;
	}
	:-ms-input-placeholder { /* IE 10+ */
	  color: $site-color1;
	}
	:-moz-placeholder { /* Firefox 18- */
	  color: $site-color1;
	}
	label{
		font-weight:100;
		font-size:23px;
		text-align:left;
		width: 100%;
		  @include respond(1000) {
					font-size:18px;

		 }
	}
	position:relative;
	input{
	  width: 96%;
	  @include respond(1000) {
		width:100%;
	 }
	 float:left;
	  height: 50px;
	  margin: 5px 0;
	  padding-left:16px;
	  color:$site-color1;
	  border:$site-color8 solid 1px;
	  border-radius: 5px;
	}
	input[type="submit"]{
	  float:right;
	  background:$site-color2;
	  color:$site-color7;
	  border-radius:0px;
	  font-weight:600;
	  width:160px;
	  @include respond(1000) {
		width:100%;
		right:0px;
	 }
	  position:relative;
	  right:15px;
	  border:none;
	}
	input[type="submit"]:hover{
		background:$site-color3;
	}
	textarea{
	  width: 98%;
	  @include respond(1000) {
		width:100%;
	 }
	  height: 150px;
	  display: inline-block;
	  padding:20px;
	  float:left;
	  color:$site-color1;
	  border:$site-color8 solid 1px;
	  border-radius: 5px;
	}
	span{
	  font-style: italic;
	  font-size: 13px;
	  padding: 15px 0;
	  display: block;
	}	
	.sec_code{
	    position: absolute;
	    top: 20px;
	    left: 10px;
	    width: 50px;
  	}
}

   
