/************************************************************************************
PHOTOS GALLERY
*************************************************************************************/
#gallery{
  display: block;
  width: 100%;
  overflow: hidden;
  margin:0 auto;
}
.photo-item.style1 { width: 285px;
  height: 415px;
  @include respond(1260) {
    width: 230px;
    height: 380px;
  }
}
.photo-item.style2 {     width: 235px;
    height: 250px;
  @include respond(1260) {
    width: 230px;
  }
}
.photo-item.style3 { width: 480px;
    height: 345px;
  @include respond(1260) {
    width: 230px;
        height: 345px;
  }
}
.photo-item.style4 {     width: 285px;
    height: 180px;
  @include respond(1260) {
    width: 230px;
    height: 160px;
  }
}
.photo-item {
	@include respond(1260) {
    margin-bottom:10px;
  }
  float: left;
  position:relative;
  display:inline-block;
	margin:5px;
  background:trasparent;
  clear:both;
  overflow:hidden;
  z-index:1;
	span{
		position:absolute;
		top:0;
		width:100%;
		height:100%;
	    -webkit-transition: all 500ms ease-in-out;
	    -moz-transition: all 500ms ease-in-out;
	    -ms-transition: all 500ms ease-in-out;
	    -o-transition: all 500ms ease-in-out;
	    transition: all 500ms ease-in-out;
		background: url(../img/icons/hover.png) no-repeat center rgba(37, 150, 201, 0.5);
		cursor:pointer;
		color:$site-color7;
		display:none;
	}
}
.photo-item:hover span{
	display:block;
	transform: scale(1.02);
}
/************************************************************************************
GALLERIES owl
*************************************************************************************/
.page-gallery{
	position:relative;
	padding:25px 0;
	.gallery-item{
		position:relative;
		span{
			position:absolute;
			top:0;
			text-align:center;
			width:100%;
			height:100%;
		    opacity: 0.0;
		    -webkit-transition: all 500ms ease-in-out;
		    -moz-transition: all 500ms ease-in-out;
		    -ms-transition: all 500ms ease-in-out;
		    -o-transition: all 500ms ease-in-out;
		    transition: all 500ms ease-in-out;
			background: url(../img/icons/hover.png) no-repeat center rgba(37, 150, 201, 0.5);
			cursor:pointer;
			display:none;
		}
	}
	.gallery-item:hover span{
		display:block;
		opacity:0.8;
	}
}
.teaser-gallery{
	position:relative;
	padding:25px 0;	
	.teaser-hover{
		position:absolute;
		top:0;
		font-family:$font-family1;
		font-size:22px;
    padding: 25%;
    text-align: center;
    width: 100%;
    height: 100%;
    opacity: 0.0;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
		background:$site-color3;
		color: #000000;
		cursor:pointer;
		display:none;
		p{
			line-height:20px;
			font-size:21px;
		}
		span{
			display:inline-block;
			font-family:$font-family2;
			border-top:solid 2px $site-color1;
			padding-top:10px;
			margin-top:15px;
		}
	}
	.teaser-item:hover  > .teaser-hover{
		display:block;
		opacity:0.8;
	}	
}