/************************************************************************************
SOCIAL MENU
*************************************************************************************/
.social-menu{
	i{
		font-size: 20px;
	}
	 a.cyrcle{
	    border-radius: 20px;
	    width: 36px;
	    height: 36px;
	    font-size: 20px;
	    line-height: 30px;
	    text-align: center;
	    display: inline-block;
	    border: solid 2px;
	    margin-right: 5px;
	}
	a.square{
	    width: 36px;
	    height: 36px;
	    border-radius: 4px;	
	    margin-right:5px;
	    padding-top:5px;
	    font-size: 20px;
	    text-align:center;
			background:$site-color5;
			display: inline-block;
	}
	a.last{
		margin-right:0px;
	}
	a:link, a:visited{
		color:$site-color4;
	}
	a:hover, a:focus{
		color:$site-color2;
	}
}
.social-menu.block{
 	 width: 250px;
   display: inline-block;
   text-align: center;
   li{
   	width: 80px;
    padding: 5px;
    display: inline-block;
    color: #343333;
   }
}