/************************************************************************************
SLIDER
*************************************************************************************/
.slider-wrapper{
	position: relative;
	.caption{
		position:absolute;
	  width: 1000px;
	  margin: 0 auto;
	  left: 50px;
	  right: 0px;
	  top: 260px;
		z-index:1;
		text-align:left;
		font-family:$font-family2;
		font-style:italic;
		font-weight:normal;
		color:$site-color7;
		font-size:28px;
		line-height:42px;
		display:none;
		span{
			display:block;
			font-weight:normal;
			font-size:45px;
			line-height:56px;
			text-align:center;
		}
		@include respond($breakpoint2) {
		 	display:none;
		}
	}
	.scroll-down{
		position:absolute;
	  bottom: -45px;
	  width: 70px;
	  height: 70px;
		padding:5px;
		text-align:center;
		margin:0 auto;
		right:0px;
		left:0px;
		color:$site-color7;
		display:inline-block;
		z-index:99;
	}
}